*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(195, 221, 230);
}
.header{
    text-align: center;
    margin-top: 4rem;
    color:rgb(27, 55, 73);
}
.header h1{
    font-size: 2.5rem;
}
.container{
    width: 65%;
    /* height: 200px; */
    background:rgb(132, 187, 206);
    text-align: center;
    margin: 2.2em auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.innerContainer{
    width: 80%;
    margin: 0 auto;
    padding-top: .5rem;
}
.innerContainer h3{
    text-align: left;
    color:rgb(27, 55, 73);
    font-size: 22px;
    border-top: 2px solid rgb(75, 113, 134);
    margin-top: 1.6rem;
    padding-top: 1rem;
}
form{
    text-align: left;
    margin-top: 2rem;
}
.labelText{
    font-size: 1.2rem;
}
.inputText{
    margin-top: 5px;
     width: 100%;
     height: 45px;
     border: 3px solid rgb(97, 155, 179);
     outline: none;
     border-radius: 5px;
     background:rgba(209, 231, 241, .7);
     transition: background .8s ease;
     margin-bottom: 2rem;
}
.inputText:hover{
    background: white;
    transition: background .8s ease;
}
.redInput{
    border: 2px solid red;
    box-shadow: 5px 5px 5px rgba(148, 5, 5, 0.274);
}

select{
    margin-top: 8px;
    width: 35%;
    height: 30px;
    margin-bottom: 1rem;
    background:rgba(209, 231, 241, .7);
    transition: background .8s ease;
    padding: 10px 15px;
    border: 3px solid rgb(97, 155, 179);
    outline: none;
}
select:hover{
    background: white;
    transition: background .8s ease;
}
select option {
    padding: 15px 15px;
    background: rgba(209, 231, 241, .7);
}
.optionInput{
    display: none;
    
}
.tshirtSection{
    display: flex;
}
.tshirt{
    margin-bottom: 1rem;
}

#size{
    width: 50px;
    outline: none; 
}
#design{
    width: 110px;
    outline: none; 
    margin-right: 2rem;
}
.size{
    margin-right: 1.7rem; 
}
.colorOneDiv{
    width: 24rem;
    display: none;
}
.colorTwoDiv{
    width: 24rem;
    display: none;
}
.btn{
    margin: 4rem 0;
    padding: 10px 19px;
    font-size: 1.2rem;
    background:rgb(30, 61, 80);
    color: white;
    border: none;
    outline: none;
}
.checkboxes {
    margin-top: 1.3rem;
}
.checkboxes input{
    margin-top: 1.6rem;
}
.checkboxes label{
    font-size: 1.2rem;
    padding-left: 5px;
}