*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(195, 221, 230);
}
.header{
    text-align: center;
    margin-top: 4rem;
    color:rgb(27, 55, 73);
}
.header h1{
    font-size: 2.5rem;
}
.container{
    width: 65%;
    height: 200px;
    background:rgb(132, 187, 206);
    text-align: center;
    margin: 2.2em auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.innerContainer{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}
.innerContainer h3{
    text-align: left;
    color:rgb(27, 55, 73);
    font-size: 22px;
    border-top: 2px solid rgb(75, 113, 134);
    margin-top: 3rem;
    padding-top: 1rem;
}